security:
  encoders:
    App\Entity\User:
      algorithm: auto
  providers:
    users:
      entity:
        class: 'App\Entity\User'
        property: 'email'
    users_in_memory: { memory: null }
  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false
    main:
      pattern: ^/
      user_checker: App\Security\UserChecker
      anonymous: true
      access_denied_url: home
      lazy: true
      remember_me:
        secret: '%kernel.secret%'
        lifetime: 604800
        path: /
      form_login:
        login_path: app_login
        check_path: app_login
        default_target_path: home
      provider: users_in_memory
      guard:
        authenticators:
          - App\Security\AppAuthenticator
      logout:
        path: app_logout
        target: home
  access_control:
    - { path: '^/profile', role: IS_AUTHENTICATED_FULLY }
    - { path: '^/login', role: IS_ANONYMOUS }
    - { path: '^/register', role: IS_ANONYMOUS }
    - { path: '^/video', role: IS_AUTHENTICATED_FULLY }
    - { path: '^/image', role: IS_AUTHENTICATED_FULLY }
