body {
  background-color: #f8f9fa !important;
}

html,
body {
  height: 100%;
}

a {
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
}

#navbarSupportedContent {
  max-width: 26%;
}

.mobile-nav {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  z-index: 99;
  list-style: none;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
  background-color: #8a8a8a;
  margin: 0;
  padding-left: 0;
  height: 10%;
  font-size: 2em;
}

.alert {
  margin-top: 1em;
}

form {
  border-radius: 15px;
  background-color: #fff;
  margin: 4em auto;
  padding: 2em;
  width: 60%;
}

.container > h1 {
  text-align: center;
  margin: 1em 0;
}

.main-navbar {
  border-bottom: 1px solid #c4c4c4;
}

.user-card {
  background-color: #fff;
  margin: 4em auto;
  padding: 2em;
  width: 60%;
  text-align: center;
}

.user-card-avatar {
  border-radius: 50%;
  width: 30%;
  border: 2px solid lightgrey;
}

.user-card-name {
  font-weight: 400;
  margin: 1em 0;
}

.home-banner {
  background-image: url("../uploads/home-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner-text {
  color: white;
  font-size: 15em;
}

#tricks-container {
  margin-top: 2em;
}

#tricks-container h3 {
  width: 100%;
  margin: 2em auto;
}

.card-img-container {
  max-height: 150px;
  min-height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.card-img-container img {
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 90px;
}

.card-title {
  width: 80%;
}

.trick-card-edit {
  display: flex;
}

.fa-pen {
  margin-right: 5px;
}

.loader-btn {
  display: block;
  margin: 2em auto;
}

/* trick form */

form[name="trick_form"] {
  border-radius: 15px;
  background-color: #fff;
  margin: 4em auto;
  padding: 2em;
  width: 60%;
  box-shadow: 0 0 188px 78px rgba(227, 227, 227, 0.75);
  -webkit-box-shadow: 0 0 188px 78px rgba(227, 227, 227, 0.75);
  -moz-box-shadow: 0 0 188px 78px rgba(227, 227, 227, 0.75);
}

.form-group {
  margin: 1em 0;
}

.images-container {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.images-container > .custom-file {
  margin: 1em;
}

.images-input {
  display: none;
}

.image-input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 16%;
  padding: 1em;
  height: 100px;
  width: 100px;
  text-align: center;
}

.image-input .form-group {
  margin: 0;
  height: 0;
}

.images-label {
  cursor: pointer;
  font-size: 50px;
  line-height: 1.5;
}

.trick-form-images-radio-label {
  font-size: 15px;
  font-weight: 300;
}

.images-gallery {
  display: flex;
  max-height: 105px;
  margin-left: 1em;
  width: calc(100% - 2.5px);
}

.image-gallery-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  padding: 0 10px;
  background-color: #fff;
  height: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.image-thumbnail {
  height: 100%;
}

#video-btn {
  margin-bottom: 1em;
}

#video-fields-list {
  list-style-type: none;
}

#video-fields-list li {
  margin-top: 1em;
}

.btn-options-group button,
.btn-options-group a {
  margin-bottom: 0.5em;
}

/* trick details */
.trick-container {
  margin: 4em auto;
  padding: 2em;
  width: 60%;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 188px 78px rgba(227, 227, 227, 0.75);
  -webkit-box-shadow: 0 0 188px 78px rgba(227, 227, 227, 0.75);
  -moz-box-shadow: 0 0 188px 78px rgba(227, 227, 227, 0.75);
}

.trick-edit-buttons {
  position: absolute;
  z-index: 2;
  right: 0;
  padding: 0.5em;
  margin: 2em;
  border: solid 1px lightgrey;
  background-color: #aeaeae;
}

.trick-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  z-index: 2;
  background-color: #aeaeae;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
/* --carousel */

.carousel-item {
  min-width: 400px;
  align-items: center;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-item img,
.carousel-item .video {
  width: 100%;
  height: 401px;
  object-fit: contain;
}

.trick-see-medias {
  display: none;
}

.carousel-indicators {
  overflow: auto;
  position: initial;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.carousel-indicators [data-bs-target] {
  width: 20%;
  height: 20%;
}

.carousel-indicators img {
  max-height: 80px;
  object-fit: cover;
}


.trick-content {
  margin: 2em 0 0;
  padding: 0 2em;
}

.trick-info {
  text-align: center;
  padding: 2em 0;
  margin: auto;
}

.trick-info p {
  cursor: default;
  padding: 1em;
}

/* comments section */

.comment {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
  margin: auto;
}

.no-comment {
  text-align: center;
  padding: 2em;
}

.comment-login {
  text-align: center;
}

.comment-login-link {
  text-decoration: underline;
}

.comment-avatar {
  width: 10%;
}

.comment-avatar img {
  width: 100%;
  border-radius: 50%;
  background-color: black;
}

.comment-content {
  border: solid 1px lightgrey;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-content p {
  margin-bottom: 0;
  width: 95%;
}

.form-container > form {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: auto;
  width: 80%;
}

form[name="comment"] > .form-group {
  width: 65%;
  margin: 0;
}

#comment-button {
  border-color: black;
}

.comment-content .fa-trash-alt {
  color: #cf0303;
}

/* scroll btn */
#tricksBtn,
#topBtn {
  background-color: #8a8a8a;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#tricksBtn:hover,
#topBtn:hover {
  background-color: #555;
}

.footer {
  min-height: 6em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: solid 1px rgba(0, 0, 0, 0.7);
  margin-top: 2em;
}

.footer > p {
  margin-left: 2em;
}

/* ########################### MEDIA QUERIES ########################### */

/* from 0px to ... */
@media (min-width: 0) {
  form {
    width: 100% !important;
    padding: 1em;
  }

  #navbarSupportedContent {
    max-width: none;
  }

  .home-banner {
    height: 100%;
  }

  .home-banner-text {
    padding: 2em 0 2em 0;
  }

  .image-input {
    max-width: 50%;
  }
}

@media (min-width: 0) and (max-width: 992px) {
  .body-container {
    padding-bottom: 5em;
  }

  .main-navbar {
    display: none;
  }

  #tricksBtn,
  #topBtn {
    bottom: 90px;
  }

  .mobile-nav {
    display: flex;
  }

  .footer {
    display: none;
  }
}

/* from 0 to 576px */
@media (max-width: 576px) {
  /* homepage */
  .home-banner-text {
    font-size: 8em;
  }

  /* add trick */
  .image-input {
    max-width: 30%;
  }

  .carousel-item {
    min-width: 100%;
  }

  .carousel-indicators [data-bs-target] {
    width: 30px;
    height: 30px;
  }

  /* trick details */
  .trick-container {
    width: 100%;
    padding: 0;
  }

  .trick-see-medias {
    display: block;
    margin: 15px auto 1em auto;
  }

  .carousel-indicators {
    display: none;
  }

  .carousel {
    text-align: center;
  }

  .carousel-inner {
    overflow-wrap: break-word;
  }

  .trick-name {
    white-space: break-spaces;
    width: 95%;
    font-size: 3em;
    background-color: rgba(173, 173, 173, 0.54);
  }

  .trick-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .comments-container {
    padding-bottom: 1em;
  }

  form[name="comment"] {
    display: block;
  }

  form[name="comment"] > .form-group {
    width: 100%;
  }

  #comment-button {
    width: 70%;
    display: block;
    margin: 1em auto;
  }

  .user-card {
    width: 95%;
  }

  .footer {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  form {
    width: 80% !important;
  }
}

@media (min-width: 992px) {
  #navbarSupportedContent {
    max-width: 35%;
  }
}

@media (min-width: 1200px) {
  #navbarSupportedContent {
    max-width: 25%;
  }
}
